<div class="container">
    <div class="row">       
  	<div>
		<p class="input-group" ng-repeat="preg in preguntas">
		<input type="text" readonly ng-model="preg.pregunta" class="form-control">
		<span class="input-group-btn">
			<button class="btn btn-danger" ng-click="delPregunta($index)" arial-label="Eliminar"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</button>
		</span>
		</p>
  	</div>
	<div class="col-sm-12 col-sm-offset-0 text-center">
	<br />
	<button class="btn btn-primary" ng-click="ShowForm()" ng-hide="formVisibility">Añadir Pregunta</button>
	<div>
	<div class="col-sm-6 col-sm-offset-3 text-center">
		<div ng-show="formVisibility" class="wrapper">
			<div class="well">
	    		<h3>Añadir Pregunta</h3>
	    		Pregunta: <input class="form-control input-sm" type="text" ng-model="nuevaPregunta.pregunta">
	    		Respuesta: <input class="form-control input-sm" type="text" ng-model="nuevaPregunta.respuesta">
	    		Tema: <input class="form-control input-sm" type="text" ng-model="nuevaPregunta.tema">
	    		<br />
	    		<button ng-click="addPregunta()">Guardar</button>
    		</div>
		</div>
	</div>
</div>
	</div>
    </div>
</div>